#create-post {
  z-index: 1001;
  position: fixed;
  width: 100%;
  min-height: calc(100vh - 56px);
  overflow-y: scroll;
  bottom: 0;
  background: #BED;
  text-align: center;
  transform: translateY(100vH);
  transition: transform 0.3s;
}

#create-post #pick-image {
  display: none;
}

#create-post #player, #create-post #canvas {
  width: 512px;
  max-width: 100%;
  display: none;
  margin: auto;
}

#create-post .map {
  height: 40%;
  width: 100%;
  display: none;
}

#create-post #pick-image, #create-post #location-loader {
  display: none;
}

#create-post #capture-btn {
  margin: 10px auto;
}

.mdl-spinner {
  margin: auto;
}

.mdl-card {
  display: contents;
}

.main-image {
  max-width: 100%;
  margin: auto;
  display: block;
}

.floating-button {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
}

.input-section {
  display: block;
  margin: 10px auto;
}

.shared-moment-card.mdl-card {
  margin: 10px 10px;
  box-shadow: none;
}

.mdl-card__title-text{
  margin: 10px 0;
  color: #232d37;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 1.25;
  font-size: 2rem;
}

.mdl-card__supporting-text {
  padding: 0;
  margin: 10px 0;
}

.whiteText {
  color: white;
}


@media (min-width: 600px) {
  .shared-moment-card.mdl-card {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .shared-moment-card.mdl-card {
    width: 45%;
  }
}

.shared-moment-card .mdl-card__title {
  height: 250px;
}

@media (min-height: 600px) {
  .shared-moment-card .mdl-card__title {
    height: 500px;
  }
}

@media (min-height: 1200px) {
  .shared-moment-card .mdl-card__title {
    height: 380px;
  }
}
